/**
 * 変数の共通設定
 */

// メディアクエリ
$pc: "only screen and (min-width: 768px) ";
$sp: "not all and (min-width: 768px) ";

// 使用するカラー
$colorWhite: #fff;
$background: #d9d9d9;
$colorGray: #525252;
$colorBlack: #333;
$colorRed: #ff0000;
$colorPurple: #6c40e8;
